KAMAL_IMAGE=registry-account/application-image
KAMAL_SERVER=server-address
KAMAL_HOST_PORT=application-loopback-port
KAMAL_DATABASE_HOST_PORT=database-loopback-port
KAMAL_DATABASE_NAME=application_production
KAMAL_DATABASE_USER=application
KAMAL_REGISTRY_USERNAME=registry-account
KAMAL_APP_URL=https://app.example.com
KAMAL_SSH_USER=deploy-user
KAMAL_SSH_PORT=ssh-port
